.contenedor-tec{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #1c3f60;
    width: fit-content;
    padding: 9px;
    border: none;
    border-radius: 30px;
}

.contenedor-tec.oscuro{
    background-color: #f3f6fa;
}

.tex-tec{
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
}

.tex-tec.oscuro{
    color: #1c3f60;
}

.icon-tec{
    color: #fff;
}

.icon-tec.oscuro{
    color: #1c3f60;
}